<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <title><%= yield(:title) %> | Nikki Mirsaeid</title>
  </head>
  <body>
  
    <div class="mirett fwd oc sumzine altar sherwood" id="images">
        </div>
  
  
  <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">SUMZINE</h2>
     </div>
     <div class ="blank"> </div>
     </div>
     
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">MIRETT</h2>
     </div>
     <div class ="blank"> </div>
     </div>
     
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">SHERWOOD BOOKLET #1</h2>
     </div>
     <div class ="blank"> </div>
     </div>
     
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">SHERWOOD BOOKLET #2</h2>
     </div>
     <div class ="blank"> </div>
     </div>
     
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">FWD NEWSLETTER</h2>
     </div>
     <div class ="blank"> </div>
     </div>
     
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">ALTAR EXHIBITIONS</h2>
     </div>
     <div class ="blank"> </div>
     </div>
    
    <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title">OPENING CEREMONY BLOG</h2>
     </div>
     <div class ="blank"> </div>
     </div>
   
   <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title"></h2>
     </div>
     <div class ="blank"> </div>
     </div>
 
     <div class="index-box" data-sticky_parent>
   <div class ="title title-loose stick-this" data-sticky_column>
      <h2 class="index-title"></h2>
     </div>
     <div class ="blank"> </div>
     </div>

<footer class=""navbar navbar-inverse navbar-bottom" style="padding:-10px 100% 120px 100%">
  <%= yield(:footer) %>
  <div class="gradient-bottom" style="padding:-10px 100% 120px 100%">
        <h1 class="invis"> a</h1>
      </div>
    <h1>YOU CAN REACH ME AT</h1>
    </br>
    <h2><a href="mailto:nikki.m.said@gmail.com">  nikki.m.said@gmail.com</a></h2>
</footer>
  </body>
</html>