@import "bootstrap-sprockets";
@import "bootstrap";


/* cursor */
a {
   cursor: url(content/CURSOR/cursor-01.png), auto;
}

/* nav title */

.navbar{
    position: fixed;
    
}

.face {
    margin-top: -5px;
    padding: 10 0;
    padding-top: 19px;
     display: inline block;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  position: relative;
}

/*
#logo::after {
    content: url(FACE_3D_MG.png); 
     height: 10px;
  width: 15px;
  z-index: -15;
  position: relative;
}
*/

/* header */

#head{
   background-color: black;
   padding-bottom: 00px;
   margin-bottom: -10px;
   height: 70px;
   z-index: -3;
}


/* top gradient */

.gradient-top{
 background-image:
    linear-gradient(
      black, #fff
    );
    padding-bottom: 25px;
    margin-top: 8px;
    
    
}

.invis{ 
 color: transparent; 
}

/* imagery */

#images{
    min-width: 70%;
    height: 50%;
    margin: 0 auto;
    position: fixed;
    float:center;
}




/* main */
body {
  padding-top: 80px;
  cursor: url(content/CURSOR/cursor-02.png), auto;
}


/* index  */

.index-title{
  font-size: 5.4vw;
  text-align: right;
  margin: 0px 10px;
   width: 90%;
   float: right;
}

.blank {
  height: 100%;
  width: 10%;
  float: left;
 
}

 .index-box {
     min-width: 90%;
    height: 500px;
    padding-bottom: 0px;
    
    margin: 0px -50px;
    
     }

  .title {
   // min-width: 100%;
    float: right;
   
  
}

.title-loose{
	position: relative;
	bottom: 0;
  	right: 0;
  	left: 0;
  	margin: 0px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  //margin-bottom: 10px;
  text-align: left;
   border: 25px red;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  color: white;
  line-height: 1.7em;
}




/* bottom gradient */


.gradient-bottom{
  background-size: 100%;
  padding-top: 30px;
 background-image:
    linear-gradient(
      white, black
    );
    min-width: 100%;
}
  

.invis{ 
 color: transparent; 
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: -7px;
  border-top: 1px solid #eaeaea;
  background-color: #000;
  min-width: 100%;
  color: #777;
  bottom: 0px;
  left: 0px;
  position: fixed;
}


footer a {
  color: #fff;
    font-size: 22px;
    display: table;
    margin: 0 auto;
}

footer a:hover {
  color: #777;
}

footer small {
  float: center;
}

footer ul {
  float: center;
  list-style: none;
}

footer ul li {
  float: center;
  margin-left: 15px;
}



/*SMALLER SCREEN */

@media only screen and (max-width: 1000px) {
    .container {
      min-width: 90%;
    }


    .index-box {
     min-width: 99%;
    height: 500px;
    padding-bottom: 50px;
    border: 15px solid blue;
    margin: 200px 0px;
     }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 4.5vw;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 5.5vw;
      letter-spacing: -1px;
      //margin-bottom: 10px;
      text-align: left;
       border: 25px red;
      font-weight: normal;
      color: #777;
    }
    
    h2 a{
        font-size: 22px;
        float: center;
    }

    p {
      font-size: 1.1em;
      color: white;
      line-height: 1.7em;
    }    

.index-title{
  font-size: 6.4vw;
  text-align: right;
   border: 5px solid red;
   width: 90%;
   float: right;
}




}

/*MOBILE STYLES */

@media only screen and (max-width: 480px) {

    .index-box {
     max-width: 100%;
    height: 500px;
    padding-bottom: 50px;
    border: 15px solid blue;
    margin: 200px 0px;
     }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 5.5vw;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 0.7em;
      letter-spacing: -1px;
      //margin-bottom: 10px;
      text-align: left;
       border: 25px red;
      font-weight: normal;
      color: #777;
    }
    
    h2 a{
        font-size: 22px;
        float: center;
    }

    p {
      font-size: 1.1em;
      color: white;
      line-height: 1.7em;
    }    

.index-title{
  font-size: 22px;
  text-align: right;
   border: 5px solid red;
   width: 90%;
   float: right;
}

}