{"filter":false,"title":".gitignore","tooltip":"/sample_app/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":13},"end":{"row":19,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"6ce2ae85f9d7c5a32d1191c6ec9983ce73609c6e","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"start":{"row":17,"column":0},"end":{"row":18,"column":0},"action":"insert","lines":["",""]}]}],[{"group":"doc","deltas":[{"start":{"row":18,"column":0},"end":{"row":19,"column":13},"action":"insert","lines":["# Ignore Spring files.","/spring/*.pid"]}]}]]},"timestamp":1421465105000}