<header class="navbar navbar-fixed-top navbar-inverse" id="head">
      <div class="container">
        <%= link_to "Nikki Mirsaeid",  '#', id: "logo" %>
      <div id="logo-small"
        <%= link_to image_tag("FACE_3D_MG.png",  alt: "Hie"),
            'http://patspla.net' %> >
        
        </div>
      </div>
       <div class="gradient-top">
        <h1 class="invis"> a</h1>
      </div>
    </header>
    
   