<header class="navbar navbar-fixed-top navbar-inverse" id="head">
     <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="$root/src/jquery.sticky-kit.js"></script>


</script>

      <div class="container">
          
        <%= link_to "Nikki Mirsaeid",  '#', id: "logo" %>
        <img src="/assets/FACE_3D_MG.png" class="face" height="52" width="42"> 
     
      </div>
       <div class="gradient-top">
        <h1 class="invis"> a</h1>
      </div>
    </header>
    
   